/*!
Theme Name: Gelbbruke
Theme URI: https://corporate.onmilwaukee.com/gelbbruke
Author: Jason McDowell via Automattic
Author URI: https://littletinyfish.com
Description: OnMilwaukee's corporate theme.
Version: 1.0.011322
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: gelbbruke
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

gelbbruke is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

@import 'inc/css/constants.scss';
@import 'inc/css/variables.scss';

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

// html {
// 	box-sizing: border-box;
// }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: var(--lspace) 0;
	text-align: center;
	&.is-resized {
		img {
			width: revert;
		}
	}
	img {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

figure.wp-block-table {
	text-align: unset;
}
table {
	font-family: 'roboto mono', monospace;
	margin: 0 0 1.5em;
	width: 100%;
	background-color: $omcgray1;
	td {
		border: 1px solid white;
		padding: .5ch 1ch;
	}
}

/* Links
--------------------------------------------- */
a {
	color: #4169e1;
}

a:visited {
	color: #800080;
}

a:hover,
a:focus,
a:active {
	color: #191970;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

// @media screen and (min-width: 37.5em) {

// 	.menu-toggle {
// 		display: none;
// 	}

// 	.main-navigation ul {
// 		display: flex;
// 	}
// }

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/* ==================================================================================================

                  GELBBRUKE THEME

================================================================================================== */

html, body, button, input, select, optgroup, textarea {
	font-family: $roboto;
	font-size: var(--omcfs);
	line-height: var(--omcfh);
	font-weight: 300;
}
html {
	margin: 0 !important;
	padding: 0;
}
body, .post, .page {
	margin: 0;
	padding: 0;
	color: $omcblack;
}
#page {
	// position: absolute;
	// top: 0;
	// right: 0;
	// left: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $robotoslab;
	font-weight: bold;
	margin: var(--lspace) 0 var(--lspace-xs);
}
h1 {
	margin: 1em auto;
	font-size: var(--omchs-xl);
	line-height: var(--lspace-s);
}
h2 {
	font-size: var(--omchs);
	line-height: var(--lspace-s);
	@include breakpoint('tablet-up') {
		font-size: var(--omchs-m);
		line-height: var(--lspace-s);
	}
}
h3 {
	font-size: var(--omchs);
	line-height: var(--lspace-s);
}
h4, h5, h6 {
	font-size: var(--omcfs);
	line-height: var(--lspace-s);
}
a {
	color: $omcblue;
	text-decoration: none;
	&:hover, &:active, &:focus {
		color: $omcblue3;
	}
	&:visited {
		color: $omcblue;
	}
}
b, strong {
	font-weight: bold;
}
figure {
	img {
		display: block;
		width: auto;
	}
	figcaption {
		font-family: $roboto;
	}
}
img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	object-fit: contain;
}
ul, ol {
	margin-left: 0;
	padding: 0 0 0 2ch;
}
small {
	font-size: var(--omcfs-xs);
}
[am_icon] {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	&:hover {
		transform: scale(1.1);
	}
	a {
		display: grid;
	}
}
blockquote {
	margin: 0;
	padding: 0;
	font-size: var(--omcfs-m);
	text-align: left;
}
cite {
	font-size: var(--omcfs-s);
	line-height: var(--lspace);
}
// ---------------- WORDPRESS -------------------
article {
	.wp-block-image,
	.wp-block-embed,
	.wp-post-image {
		display: block;
		width: 100%;
		max-width: 1000px;
		margin: var(--lspace-m) auto;
		border-radius: 3px;
		figcaption {
			width: 100%;
			max-width: max-content;
			margin: 0 auto;
			padding: var(--lspace-xs) var(--col);
			font-size: var(--omcfs-s);
			line-height: var(--lspace-s);
			//background-color: $omcgray1;
			color: $omcgray5;
			border-radius: 0 0 3px 3px;
		}
		@include breakpoint('tablet-up') {
			margin: var(--lspace-l) auto;
		}
		@include breakpoint('desktop-up') {
			margin: var(--lspace-xl) auto;
		}
	}
	.wp-block-pullquote {
		margin: var(--lspace) auto;
		padding: 0;
		p {
			font-size: var(--omcfs-m);
			line-height: var(--lspace);
		}
	}
	.wp-block-separator {
		border: 0;
		background-color: $omcgray2;
		margin: var(--lspace-xl) auto;
	}
	.wp-block-post-excerpt__excerpt::after {
		content: '...';
	}
	.wp-block-embed.is-type-video {
		.wp-block-embed__wrapper {
			position: relative;
			width: 100%;
			padding-top: 56.2%;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

// ---------------- HEADER -------------------
#masthead {
	position: relative;
	background-color: $omcblue;
	@include breakpoint('tablet-up') {
		margin-top: 1.8em;
	}
}
.site-branding {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 70vh;
	padding: 2em 4ch;
}
.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $omcblue;
	background: radial-gradient(circle, $omcblue 50vw, $omcblue4 100vw);
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: .5;
		filter: sepia(1) hue-rotate(160deg);
	}
	video.vertical {
		display: block;
		visibility: visible;
	}
	video.landscape {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
	@include breakpoint('tablet-up') {
		video.vertical {
			display: none;
			visibility: hidden;
			opacity: 0;
		}
		video.landscape {
			display: block;
			visibility: visible;
			opacity: .5;
		}
	}
}
.site-title {
	display: none;
}
.site-description {
	font-size: 5vw;
	color: $omcwhite;
	@include breakpoint('tablet-up') {
		font-size: var(--omcfs-xl);
	}
}
.custom-logo-link {
	margin: 5vh auto;
	display: block;
	width: 50vw;
	max-width: 400px;
}


// ---------------- NAVIGATION -------------------
#site-navigation {
	width: max-content;
	font-size: var(--omcfs-m);
	overflow: hidden;
	a, a:hover, a:active, a:visited {
		color: $omcwhite;
	}
	a {
		padding: var(--lspace-mini) 1.25ch;
	}
	a:hover, a:active {
		background-color: $omcred3;
	}
	svg {
		display: block;
		width: 100%;
		max-width: 1.8em;
		max-height: 1.8em;
		margin-right: auto;
		margin-left: auto;
	}
	li {
		svg {
			margin: var(--lspace-mini) auto;
		}
	}
	&.toggled {
		.menu-toggle {
			background-color: $omcred;
		}
		.menu-header-container {
			right: 0;
			min-width: 50vw;
			box-shadow: 0 0 15px -1px rgba(0,0,0,.3);
		}
	}
}
.menu-toggle {
	position: fixed;
	top: 5px;
	right: 8px;
	width: 38px;
	height: 38px;
	margin-right: 0;
	margin-left: auto;
	padding: 1ch;
	border: 0;
	background-color: rgba(0,0,0,.1);
	z-index: 900;
	&:hover {
		background-color: $omcred;
	}
	svg {
		display: block;
	}
}
.menu-header-container {
	position: fixed;
	top: 0;
	right: -100vw;
	z-index: 800;
	width: 0;
	height: 100vh;
	background-color: $omcred4;
	overflow: hidden;
}
#primary-menu {
	background-color: $omcred;
	border-radius: 3px 0 3px 3px;
}
@include breakpoint('tablet-up') {
	#site-navigation {
		position: sticky;
		top: 0;
		width: 100%;
		font-size: var(--omcfs-xs);
		border-radius: 0;
		background-color: $omcblue;
		z-index: 900;
		a:hover, a:active {
			background-color: rgba(0,0,0,.1);
			background-color: $omcblue3;
			opacity: 1;
		}
		.menu-header-container {
			right: 0;
			left: 0;
			width: 100%;
			height: unset;
			background-color: $omcblue;
			box-shadow: 0 0 15px -1px rgba(0,0,0,.3);
		}
		ul#primary-menu {
			display: flex;
			justify-content: end;
			background-color: unset;
		}
		li {
			&:first-of-type {
				margin-left: 0;
				margin-right: auto;
			}
			&:last-of-type {
				background-color: $omcred;
				a:hover {
					background-color: $omcred3;
				}
			}
			svg {
				display: inline-block;
				margin: 0;
			}
		}
		a {
			line-height: var(--lspace);
		}
	}
	.menu-toggle {
		display: none;
	}
}

// ---------------- FOOTER -------------------
#colophon {
	padding: 1ch;
	font-size: var(--omcfs-xs);
	text-align: center;
	background-color: $omcred;
	color: $omcwhite;
	a {
		color: $omcwhite;
		&:hover, &:active {
			text-decoration: underline;
		}
	}
}
@mixin background-opacity($color, $opacity) {
	background: rgba($color, $opacity);
}
.contact-bubble {
	position: fixed;
	bottom: 10px;
	right: 2ch;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	line-height: 0;
	background-color: $omcblack;
	@include background-opacity($omcblack, .1);
	border-radius: 50% 50% 50% 0;
	&:hover {
		@include background-opacity($omcred, 1);
	}
	svg {
		width: 32px;
		height: 32px;
	}
}

// ---------------- PAGE -------------------
.page-template-default,
.post-template-default,
.archive {
	.site-branding {
		min-height: 12vh;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		padding: 1em 2ch;
		min-height: unset;
	}
	.gb-secondary-logo {
		width: 250px;
		max-width: 60%;
		img {
			display: block;
		}
	}
	.page-header {
		position: relative;
	}
	.site-description {
		display: none;
	}
}
.archive {
	article.post {
		padding: 0;
		box-shadow: 0 4px 15px -16px $omcblack;
		transition: box-shadow .125s .025s linear,
					transform .125s .025s linear;
		> a {
			display: block;
			padding: var(--lspace-l) var(--col-two);
			color: $omcblack;
			&:hover {
				color: $omcgray5;
			}
		}
		header {
			margin-bottom: 1em;
		}
		h2 {
			margin: 0;
		}
		picture {
			display: grid;
			height: auto;
			max-height: 33vh;
			justify-content: center;
			align-content: center;
			overflow: hidden;
		}
		.wp-post-image {
			height: 100%;
			object-fit: cover;	
			margin: 0;
		}
		p {
			margin: 1em 0;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	@include breakpoint('tablet-up') {
		article.post {
			&:hover {
				box-shadow: 0 8px 15px -16px $omcblack;
				transform: scale(1.01);
			}
			a {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: 2ch;
			}
			header {
				margin-bottom: 0;
			}
			// picture {
			// 	margin-bottom: 0;
			// }
			p:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
.page,
.single {
	.post-thumbnail {
		height: 60vh;
		img {
			width: 100%;
			max-width: unset;
			height: 100%;
			max-height: unset;
			object-fit: cover;
		}
	}
}


// ---------------- HOMEPAGE BLOCKS -------------------
.homepage-block {
	.wp-block-pullquote {
		padding: 0;
	}
	.content {
		max-width: 120ch;
		margin: 0 auto;
		padding: 5vw 10vw;
	}
	h2 {
		font-size: var(--omchs-xs);
		line-height: var(--lspace);
		letter-spacing: .05ch;
		text-align: center;
		border-bottom: 1px solid $omcwhite;
	}
	@include breakpoint ('desktop-up') {
		.content {
			padding: 4vw 5vw;
		}
	}
}
.picture-block {
	width: 100%;
	min-height: 50vh;
	picture {
		display: block;
		width: 100%;
		height: 100%;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
//--- Layouts ---
.gb-layout-split {
	display: grid;
	grid-template-columns: 1fr;
	@include breakpoint ('desktop-up') {
		grid-template-columns: 1fr 1fr;
		&:nth-of-type(odd) {

		}
		&:nth-of-type(even) {
			.picture-block {
				grid-row: 1;
				grid-column: 2;
			}
			.content {
				grid-row: 1;
				grid-column: 1;
			}
		}
	}
}
.gb-layout-bigimage {
	.content {
		padding: 5vw 5vw 0;
		max-width: unset;
		.wp-block-image {
			display: block;
			width: 100%;
			margin: 0;
		}
		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
			margin: 0 auto;
		}
	}
}
.gb-layout-notitle {
	h2  {
		display: none;
	}
}
.gb-layout-2col {
	.content {
		display: grid;
		max-width: unset;
		@include breakpoint('tablet-up') {
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 2ch;
		}
	}
	h2, h3 {
		grid-column: 1 / -1;
		text-align: center;
	}
	.wp-block-pullquote {
		p {
			font-size: var(--omcfs-l);
			line-height: var(--lspace);
		}
	}
}

//--- Colors ---
.gb-theme-gray {
	background-color: $omcgray5;
	color: $omcwhite;
	h2 {
		border-color: $omcred;
	}
	.gb_button {
		a {
			background-color: $omcwhite;
			color: $omcred;
		}
	}
}
.gb-theme-red {
	background-color: $omcred;
	color: $omcwhite;
	h2 {
		border-color: $omcyellow;
	}
	.gb_button {
		a, a:hover, a:active, a:focus {
			background-color: $omcblack;
			color: $omcwhite;
		}
	}
}
.gb-theme-yellow {
	background-color: $omcyellow;
	color: $omcblack;
	h2 {
		border-color: $omcred;
	}
	.gb_button {
		a, a:hover, a:active, a:focus {
			background-color: $omcred;
			color: $omcwhite;
		}
	}
}
.gb-theme-blue {
	background-color: $omcblue;
	color: $omcwhite;
	h2 {
		border-color: $omcyellow;
	}
	.gb_button {
		a, a:hover, a:active, a:focus {
			background-color: $omcwhite;
			color: $omcblue;
		}
	}
}

.gb-theme-white {
	.gb_button {
		a, a:hover, a:active, a:focus {
			background-color: $omcred;
			color: $omcwhite;
		}
	}
}

// ---------------- ARTICLE -------------------
#primary {
	flex-grow: 1;
	background-color: $omcgray1;
	.entry-header {
		position: relative;
	}
}
article {
	max-width: 120ch;
	padding: var(--lspace-xs) var(--col) var(--lspace-xl);
	font-family: $notoserif;
	background-color: $omcwhite;
	border-radius: 3px;
	.entry-header,
	.entry-footer,
	.entry-content {
		& > * {
			max-width: var(--maxfw);
			margin-left: auto;
			margin-right: auto;
		}
		h1 {
			max-width: var(--maxhw-xl);
		}
		h2 {
			max-width: var(--maxhw-m);
		}
		h3 {
			max-width: var(--maxhw);
		}
		h4, h5, h6 {
			max-width: var(--maxhw-s);
		}
		.category-header {
			text-align: center;
			text-transform: uppercase;
			border-bottom: 1px solid $omcgray4;
			padding-bottom: 1em;
			font-size: var(--omcfs-s);
			max-width: var(--maxfw-s);
			a {
				color: $omcgray5;
				&:hover {
					color: $omcblue3;
				}
			}
		}
	}
	.wp-block-quote {
		width: 66ch;
	}
	.entry-content {
		margin: 0 auto;
	}
	figure.wp-block-image,
	figure.is-type-video {
		width: 100%;
		max-width: 1400px;
		margin-right: auto;
		margin-left: auto;
	}
	.wp-block-group {
		margin: var(--lspace) auto;
	}
	.emphasize {
		font-size: var(--omcfs-l);
		line-height: var(--lspace);
		font-family: $roboto;
		max-width: var(--maxfw-l);
		//color: $omcblue;
	}
	.entry-footer {
		max-width: var(--maxfw);
		position: relative;
		margin: var(--lspace) auto 0;
		padding: var(--lspace);
		border-top: 1px solid $omcgray1;	
		text-align: center;
	}
	@include breakpoint('moplus-up') {
		//margin: var(--lspace) auto;
		padding: var(--lspace-xs) var(--col-two) var(--lspace-xl);
	}
	@include breakpoint('desktop-up') {
		//margin: var(--lspace-l) auto;
		//padding: var(--lspace-xs) var(--col-two);
	}
}
article.post {
	margin: var(--lspace-xl) auto var(--lspace-xl);
	padding: var(--lspace-l) var(--col-two);
}
.content-page {
	article {
		margin: 0 auto var(--lspace-xl);
		padding: var(--lspace-l) var(--col-two);
		max-width: 1800px;
	}
}
.content-standalone-post {
	article {
		padding-top: var(--lspace-l);
	}
}
.edit-link {
	grid-column: -1;
	position: absolute;
	bottom: 0;
	right: 1ch;
	font-family: $roboto;
	opacity: .5;
	line-height: 0;
	&:hover {
		transform: scale(1.4);
		transform-origin: center center;
		opacity: 1;
	}
	a {
		padding: .5em 1ch;
		font-size: var(--omcfs-micro);
		letter-spacing: .15ch;
		border-radius: 3px;
		background-color: $omcblue;
		color: $omcwhite;
		&:hover, &:active {
			background-color: $omcblue3;
		}
	}
}

.wp-block-group.ad-specs .wp-block-group__inner-container {
	font-size: .8em;
	font-family: $roboto;
	background-color: $omcgray1;
	padding: 1em 2ch;
	h2 {
		font-size: var(--omchs);
		margin-top: .5em;
		margin-bottom: .5em;
	}
	h3 {
		font-size: var(--omchs-s);
		margin-top: 1em;
		margin-bottom: 1em;
	}
	p {
		line-height: 1.8;
		margin: 1em 0;
	}
	hr {
		margin: 1em;
	}
}

// ---------------- ADVERTISE BLOCKS -------------------
#content-advertise {
	.the-content {
		padding: 0;
	}
	article {
		margin: 0;
		padding: 0;
		background-color: unset;
		max-width: unset;
		.entry-content {
			> .wp-block-group {
				max-width: unset;
				//margin: var(--lspace 2ch);
				padding: 0 2ch var(--lspace);
				&:first-of-type {
					margin-top: 0;
				}
				&:nth-of-type(odd) {
					padding-top: var(--lspace);
					background-color: $omcwhite;
					h2 {
						margin: 0 0 var(--lspace-xs);
						padding-top: var(--lspace-xs);
					}
				}
				&:nth-of-type(even) {
					h2 {
						padding-top: 0;
					}
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			.wp-block-group__inner-container {
				margin: 0 auto;
				max-width: var(--maxfw);
			}
		}
	}
	.lift-icon-group {
		.wp-block-group__inner-container {
			display: grid;
			grid-row-gap: var(--lspace-s);
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: var(--col);
			figure {
				//position: relative;
				margin: 0 auto;
				padding: var(--lspace-s) var(--col);
				text-align: center;
				border-radius: 10px;
				border: 1px solid $omcgray1;
			}
			figcaption {
				font-size: var(--omcfs-xs);
				padding-bottom: 0;
			}
			img {
				border-radius: 10px;
				background-color: $omcgray1;
				padding: 2ch;
			}
			figcaption {
				font-weight: bold;
				margin-bottom: 0;
				line-height: var(--lspace-s);
				background-color: unset;
			}
			@include breakpoint('tablet-up') {
				grid-template-columns: repeat(4, 1fr);
				figcaption {
					font-size: var(--omcfs-s);
				}
			}
		}
	}
	.entry-footer {
		padding: 0;
	}
}


// ---------------- ARCHIVE -------------------
.post-thumbnail,
.cat-lead-image {
	width: 100%;
	margin: 0;
	height: 50vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: inset 0px -100px 12vh rgba(0,0,0,.5);
	@include breakpoint('desktop-up') {
		box-shadow: inset 0px -150px 12vh rgba(0,0,0,.5);
	}
}
.archive {
	.entry-title {
		a {
			color: $omcblack;
		}
	}
}
.the-content {
	padding: 0 var(--col);
}
.content-excerpt {
	.post-thumbnail {
		display: block;
		max-height: 300px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.continue-reading {
		margin-bottom: 0;
	}
	.entry-footer {
		display:none;		
		width: 100%;
		max-width: unset;
		grid-column: 1 / -1;
		padding: 0;
		border: 0;
	}
}
.title-box {
	color: $omcgray5;
	text-align: center;
	padding: 0 2ch;
}
.post-thumbnail ~ .title-box,
.cat-lead-image ~ .title-box {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--col-two);
	text-align: center;
	h1 {
		font-size: var(--omchs-l);
		max-width: var(--maxhw-l);
		color: $omcwhite;
		@include breakpoint('desktop-up') {
			font-size: var(--omchs-xl);
			max-width: var(--maxhw-xl);
		}
		@include breakpoint('desktop-xl') {
			font-size: var(--omchs-mega);
			max-width: var(--maxhw-mega);
		}
		@include breakpoint('desktop-xxl') {
			font-size: var(--omchs-max);
			max-width: var(--maxhw-max);
		}
	}
}


// ---------------- WIDGETS -------------------
.gb-indicator {
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	line-height: 1em;
	padding: .25em 1ch;
	font-size: var(--omcfs-mini);
	color: $omcgray3;
	background-color: rgba(255,255,255,.5);
	border-radius: 0 5px 0 0;
	opacity: 0;
	&:hover {
		opacity: .5;
	}
}
.gb_button {
	display: block;
	width: max-content;
	margin: var(--lspace-l) auto;
	font-family: $roboto;
	font-weight: 500;
	a {
		display: block;
		padding: .5em 2ch;
		border-radius: 5px;
		background-color: $omcblue;
		color: $omcwhite;
		&:hover, &:active, &:focus {
			transform: scale(1.1);
		}
	}
}
.icon-group-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 4vw;
	grid-row-gap: var(--lspace);
	width: 100%;
	max-width: max-content;
	margin-right: auto;
	margin-left: auto;
}
.awards-group {
	figure {
		padding: 1ch;
		background-color: $omcwhite;
		border-radius: 50%;
	}
}
.social-group {
	figure {
		margin: 0;
	}
	[am_icon] {
		display: grid;
		align-items: center;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 1em 1ch;
		svg {
			max-width: 100px;
		}
	}
}
[am_social-num] {
	display: grid;
	grid-row-gap: var(--lspace-xs);
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 4vw;
	font-weight: bold;
	@include breakpoint('tablet-up') {
		font-size: var(--omcfs-mega);
	}
}


//=========== YELLOW BRIDGE EVENTS
.grid-2 {
	.wp-block-group__inner-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2ch;
		grid-row-gap: 1em;
		figure {
			margin: 0;
		}
	}
}

//=========== CONTACT FORM
.wpcf7-form {
	small {
		color: $omcgray5;
	}
	label {
		display: grid;
		grid-template-columns: 1fr 3fr;
		align-items: center;
		br {
			display: none;
		}
		span {
			line-height: 1.2;
			margin-right: 1ch;
			margin-bottom: .5em;
		}
	}
	label.full-width {
		grid-template-columns: 1fr;
	}
	input, select, textarea {
		width: 100%;
		padding: .5em 1ch;
	}
	.phone-group {
		display: grid;
		grid-template-columns: auto 7ch;
		label {
			grid-template-columns: 1fr;
			.client-phone {
				margin-right: 1ch;
			}
		}
	}
	.wpcf7-spinner {
		margin: 1em auto 1em;
		background-color: $omcgray2;
	}
}
#content-events {
	.wpcf7 {
		padding-left: 2ch;
		padding-right: 1ch;
		border: 1px solid $omcgray1;
		border-radius: 5px;
	}
}

//=========== PLUGINS
.grecaptcha-badge {
	visibility: hidden;
}