//CONSTANTS
$omcblue1: #addfed;
.omcblue1 {fill:$omcblue1};
$omcblue2: #81cee2;
.omcblue2 {fill:$omcblue2};
$omcblue3: #56bdda;
.omcblue3 {fill:$omcblue3};
$omcblue: #27b7d6;
.omcblue {fill:$omcblue};
$omcblue4: #2c8298;
.omcblue4 {fill:$omcblue4};
$omcblue5: #295c6b;
.omcblue5 {fill:$omcblue5};
$omcblue6: #28494f;
.omcblue6 {fill:$omcblue6};

$omcred1: #efbdab;
.omcred1 {fill:$omcred1};
$omcred2: #eb9b83;
.omcred2 {fill:$omcred2};
$omcred3: #e37b5a;
.omcred3 {fill:$omcred3};
$omcred: #dd4e2b;
.omcred {fill:$omcred};
$omcred4: #b03a25;
.omcred4 {fill:$omcred4};
$omcred5: #85301b;
.omcred5 {fill:$omcred5};
$omcred6: #592115;
.omcred6 {fill:$omcred6};

$omcyellow1: #f7f3a5;
.omcyellow1 {fill:$omcyellow1};
$omcyellow2: #f1ea76;
.omcyellow2 {fill:$omcyellow2};
$omcyellow3: #f0e548;
.omcyellow3 {fill:$omcyellow3};
$omcyellow: #f9db04;
.omcyellow {fill:$omcyellow};
$omcyellow4: #ebc926;
.omcyellow4 {fill:$omcyellow4};
$omcyellow5: #d4942b;
.omcyellow5 {fill:$omcyellow5};
$omcyellow6: #9a741d;
.omcyellow6 {fill:$omcyellow6};

$omcpurple1: #d0b6d5;
.omcpurple1 {fill: $omcpurple1};
$omcpurple2: #ba92c3;
.omcpurple2 {fill: $omcpurple2};
$omcpurple3: #a56dae;
.omcpurple3 {fill: $omcpurple3};
$omcpurple: #8d4e9f;
.omcpurple {fill: $omcpurple};
$omcpurple4: #6a3680;
.omcpurple4 {fill: $omcpurple4};
$omcpurple5: #502a64;
.omcpurple5 {fill: $omcpurple5};
$omcpurple6: #39284f;
.omcpurple6 {fill: $omcpurple6};

$omcdblue1: #b7badb;
.omcdblue1 {fill:$omcdblue1};
$omcdblue2: #9296c6;
.omcdblue2 {fill:$omcdblue2};
$omcdblue3: #7075b5;
.omcdblue3 {fill:$omcdblue3};
$omcdblue: #3c56a6;
.omcdblue {fill:$omcdblue};
$omcdblue4: #2b4084;
.omcdblue4 {fill:$omcdblue4};
$omcdblue5: #242f62;
.omcdblue5 {fill:$omcdblue5};
$omcdblue6: #072d48;
.omcdblue6 {fill:$omcdblue6};

$omcgreen1: #acd9b7;
.omcgreen1 {fill:$omcgreen1};
$omcgreen2: #80c893;
.omcgreen2 {fill:$omcgreen2};
$omcgreen3: #56b76f;
.omcgreen3 {fill:$omcgreen3};
$omcgreen: #3ea648;
.omcgreen {fill:$omcgreen};
$omcgreen4: #258545;
.omcgreen4 {fill:$omcgreen4};
$omcgreen5: #195e30;
.omcgreen5 {fill:$omcgreen5};
$omcgreen6: #154221;
.omcgreen6 {fill:$omcgreen6};

$omcwhite: #ffffff;
.omcwhite {fill:$omcwhite};
$omcgray1: #efefef;
.omcgray1 {fill:$omcgray1};
$omcgray2: #e0e0e0;
.omcgray2 {fill:$omcgray2};
$omcgray3: #acabab;
.omcgray3 {fill:$omcgray3};                 //lgray
$omcgray4: #888;
.omcgray4 {fill: $omcgray4};                //Mgray
$omcgray5: #565656;
.omcgray5 {fill:$omcgray5;color:$omcgray5}; //dgray
$omcblack: #0f0f0f;
.omcblack {fill:$omcblack};

//========== FONT FAMILY ==========

@import 'fonts.scss';

//Sans Serif
$roboto: 'roboto', 'helvetica', 'arial', sans-serif;
$sans: $roboto;

$robotocond: 'roboto condensed', "din-condensed-web", "tahoma", $roboto;
$sanscond: $robotocond;
$din: $robotocond;

//Slab
$robotoslab: 'roboto slab', 'adelle', "ff-meta-serif-web-pro", 'times', 'times new roman', serif; //amadeus;
$slab: $robotoslab;

//Serif
$notoserif: 'noto serif', georgia, serif;
$serif: $notoserif;

//Mono
$robotomono: 'roboto mono', monospace;
$mono: $robotomono;


//========== IMAGES ==========
$photo_width: 40%;
$photo_margin: 4%;
$title_width: 100% - $photo_margin - $photo_width;
$boxdrop: 0px 5px 20px -15px black;
$boxdrophover: 0px 5px 20px -11px black;


//========== SOCIAL/SHARING ==========
$instagram: #F50CA4; /* Old browsers */
$instagrad-moz: -moz-radial-gradient(bottom left, ellipse cover, #f7ed34 0%, #f16f5c 32%, #f50ca4 55%, #b627e6 76%, #3d27e6 100%); /* FF3.6-15 */
$instagrad-webkit: -webkit-radial-gradient(bottom left, ellipse cover, #f7ed34 0%,#f16f5c 32%,#f50ca4 55%,#b627e6 76%,#3d27e6 100%); /* Chrome10-25,Safari5.1-6 */
$instagrad: radial-gradient(ellipse at bottom left, #f7ed34 0%,#f16f5c 32%,#f50ca4 55%,#b627e6 76%,#3d27e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$instagrad-ie: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ed34', endColorstr='#3d27e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

$twitter:#0084b4;
$facebook:#3b5998;
$tumblr:#35465c;
$pinterest:#C92228;
$google:#F44336;
$linkedin: #2977c9;
$email:$omcyellow;

$light: 200;
$regular: 300;
$semibold: 400;
$bold: 700;
$black: 900;