@import 'constants.scss';
@import 'variables.scss';

.editor-post-title {
	font-family: $robotoslab;
}
.is-root-container {
	font-family: $notoserif;
	font-size: var(--omcfs);
    line-height: var(--lspace);
	h1, h2, h3, h4, h5, h6 {
		font-family: $robotoslab;
	}
	.block-editor-plain-text {
        font-family: $robotomono;
    }
}
.wp-block-group {
    border: 1px dashed $omcgray1;
    padding: .5ch .5ch;
	&:hover {
		border-color: $omcgray2;
		background-color: $omcgray1;
	}
}
.wp-block-image,
.wp-block-embed {
	figcaption {
		font-family: $roboto;
	}
}
.editor-post-title__input {
	font-weight: bold;
}

// ---------------- WIDGETS -------------------
.grid-2 {
	.wp-block-group__inner-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2ch;
		grid-row-gap: 1em;
		figure {
			margin: 0;
		}
	}
}
.icon-group-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 4vw;
	grid-row-gap: var(--lspace);
	width: 100%;
	max-width: max-content;
	margin-right: auto;
	margin-left: auto;
}
.awards-group {
	
}
.social-group {
	[am_icon] {
		display: grid;
		align-items: center;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 1em 1ch;
		svg {
			max-width: 100px;
		}
	}
}
[am_social-num] {
	display: grid;
	grid-row-gap: var(--lspace-xs);
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 4vw;
	font-weight: bold;
	@media screen and (min-width: 750px) {
		font-size: var(--omcfs-mega);
	}
}
.lift-icon-group {
	.wp-block-group__inner-container {
		display: grid;
		grid-row-gap: var(--lspace-s);
		grid-template-columns: 1fr 1fr;
		grid-column-gap: var(--col);
		figure {
			//position: relative;
			margin: 0 auto;
			padding: var(--lspace-s) var(--col);
			text-align: center;
			border-radius: 10px;
			border: 1px solid $omcgray1;
		}
		img {
			border-radius: 10px;
			background-color: $omcgray1;
			padding: 2ch;
		}
		figcaption {
			font-weight: bold;
			margin-bottom: 0;
		}
		@media screen and (min-width: 750px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.emphasize {
	font-family: $roboto;
	font-size: var(--omcfs-l);
	line-height: var(--lspace);
}