@font-face {
    font-family: 'amadeus';
    src: url('inc/fonts/amadeus-webfont.woff2') format('woff2'),
         url('inc/fonts/amadeus-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/*==========ROBOTO===========*/

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-100.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-100italic.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-100italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-300.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-300italic.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-italic.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-500.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-500italic.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-500italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-700.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-700italic.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-900.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('inc/fonts/roboto/roboto-v18-latin-900italic.woff2') format('woff2'),
         url('inc/fonts/roboto/roboto-v18-latin-900italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}


/*==========ROBOTO SLAB===========*/

@font-face {
    font-family: 'roboto slab';
    src: url('inc/fonts/robotoslab/roboto-slab-v7-latin-100.woff2') format('woff2'),
         url('inc/fonts/robotoslab/roboto-slab-v7-latin-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'roboto slab';
    src: url('inc/fonts/robotoslab/roboto-slab-v7-latin-300.woff2') format('woff2'),
         url('inc/fonts/robotoslab/roboto-slab-v7-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto slab';
    src: url('inc/fonts/robotoslab/roboto-slab-v7-latin-regular.woff2') format('woff2'),
         url('inc/fonts/robotoslab/roboto-slab-v7-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto slab';
    src: url('inc/fonts/robotoslab/roboto-slab-v7-latin-700.woff2') format('woff2'),
         url('inc/fonts/robotoslab/roboto-slab-v7-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


/*==========ROBOTO CONDENSED===========*/


@font-face {
    font-family: 'roboto condensed';
    src: url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-300.woff2') format('woff2'),
         url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto condensed';
    src: url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-300italic.woff2') format('woff2'),
         url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'roboto condensed';
    src: url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-regular.woff2') format('woff2'),
         url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto condensed';
    src: url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-italic.woff2') format('woff2'),
         url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'roboto condensed';
    src: url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-700.woff2') format('woff2'),
         url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'roboto condensed';
    src: url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-700italic.woff2') format('woff2'),
         url('inc/fonts/robotocondensed/roboto-condensed-v16-latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}


/*==========ROBOTO MONO===========*/

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-100.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-100italic.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-100italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-300.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-300italic.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-regular.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-italic.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-500.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-500italic.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-500italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-700.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'roboto mono';
    src: url('inc/fonts/robotomono/roboto-mono-v5-latin-700italic.woff2') format('woff2'),
         url('inc/fonts/robotomono/roboto-mono-v5-latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/*========== Noto Serif ===========*/

@font-face {
    font-family: 'noto serif';
    src: url('inc/fonts/noto-serif/noto-serif-v6-latin-regular.woff2') format('woff2'),
         url('inc/fonts/noto-serif/noto-serif-v6-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'noto serif';
    src: url('inc/fonts/noto-serif/noto-serif-v6-latin-italic.woff2') format('woff2'),
         url('inc/fonts/noto-serif/noto-serif-v6-latin-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'noto serif';
    src: url('inc/fonts/noto-serif/noto-serif-v6-latin-700.woff2') format('woff2'),
         url('inc/fonts/noto-serif/noto-serif-v6-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'noto serif';
    src: url('inc/fonts/noto-serif/noto-serif-v6-latin-700italic.woff2') format('woff2'),
         url('inc/fonts/noto-serif/noto-serif-v6-latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}